<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:dist="http://schemas.android.com/apk/distribution"
		  package="amist.amisttorch">

	<dist:module dist:instant="true" />

	<!-- Allows access to the flashlight -->
    <permission android:name="android.permission.FLASHLIGHT"
                android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
                android:protectionLevel="normal"
                android:label="@string/flashlight_permission_name"
                android:description="@string/flashlight_permission_description" />

	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE"/>

	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
	<uses-feature android:name="android.hardware.camera.flash"/>

	<application android:allowBackup="true"
				 android:label="@string/app_name"
				 android:icon="@mipmap/ic_launcher"
				 android:theme="@style/AppTheme">
		<activity
            android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<receiver
			android:name=".TorchWidgetProvider"
			android:exported="false" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider" />
		</receiver>

		<service android:name=".TorchService" android:exported="false" />
	</application>

</manifest>